body
{
    font-family: 'Arial', sans-serif;
}

.scrollb {
    height: 450px;
    overflow-y: scroll;
}
.grid-container 
{
  display: flex;
  justify-content: center;
}

.team-container
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  max-width: 900px; /* Adjust max-width as needed */
  width: 100%;
}

.team-member
{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.team-img
{
  display: block;
  max-width: 100%;
  height: auto;
}

.member-info
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup
{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1001; /* Ensure the pop-up is above the modal */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.popup-content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s 0.2s;
    padding: 20px;
}

.popup:target
{
    opacity: 1;
    visibility: visible;
}

.popup:target .popup-content
{
    opacity: 1;
}

.close-popup
{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #ccc;
    cursor: pointer;
}

.close-popup:hover
{
    color: red;
}
